version: "3.9"
services:
    # Credentials admin:admin
    grafana:
        image: grafana/grafana:7.5.5
        container_name: grafana
        restart: unless-stopped
        ports:
            - 3000:3000
        volumes:
            - grafana:/var/lib/grafana
    prometheus:
        image: prom/prometheus:v2.26.0
        container_name: prometheus
        restart: unless-stopped
        ports:
            - 9090:9090
        volumes:
            - ./prometheus.yml:/etc/prometheus/prometheus.yml
    nodeexporter:
        image: prom/node-exporter:v1.1.2
        container_name: nodeexporter
        restart: unless-stopped
        ports:
        - 9100:9100
volumes: 
    grafana:
